@{
    ViewData["Title"] = "Admin Dashboard Page";
    Layout = "_AdminLayout";
}
<div class="dashboard">
    <div class="text text--white text--15 text--fw500 text--center">
        <div class="top-row">
            @* <img src="/site/images/logo-transparent.png" alt="logo"> *@
            <div>
                <span class="title title--40 title--white title--fw700">Acesse+</span>
            </div>
        </div>
        <br><br>
        <br><br>
        <br><br>
        <p class="text text--16 text--white text--fw400">Estamos felizes em tê-lo aqui. Este é o seu ponto central para
            gerenciar e monitorar todas as suas
            atividades.
            <br><br>Se você tiver alguma dúvida ou precisar de assistência, não hesite em nos contatar. Nossa equipe de
            suporte
            está sempre pronta para ajudar.
            <br><br><br>Envie-nos um e-mail para<a href="mailto:support@seusite.com">support@seusite.com</a>
            ou ligue para (XX) XXXX-XXXX
            <br><br><br><br>Aproveite seu ia e boas atividades!
            <br><br><br><br><br><br>Atenciosamente<br><br>
            <strong>Equipe de Suporte</strong>
        </p>

    </div>
</div>
