@{
    ViewData["Title"] = "Login Page";
    Layout = "_LayoutUnscoped";
}

<div class="login">

    <div class="login__left">
        <a href="/" class="button button--black">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
            </svg>
            Voltar
        </a>
        <svg width="549" height="436" viewBox="0 0 549 436" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12.1582 59.3906C8.72396 59.3906 6.09538 58.3571 4.27246 56.29C2.46582 54.2067 1.5625 51.2038 1.5625 47.2812V26.8711C1.5625 23.1927 2.45768 20.4014 4.24805 18.4971C6.05469 16.5928 8.69141 15.6406 12.1582 15.6406C15.625 15.6406 18.2536 16.5928 20.0439 18.4971C21.8506 20.4014 22.7539 23.1927 22.7539 26.8711V47.2812C22.7539 51.2038 21.8424 54.2067 20.0195 56.29C18.2129 58.3571 15.5924 59.3906 12.1582 59.3906ZM12.2314 51.4805C13.5335 51.4805 14.1846 50.2191 14.1846 47.6963V26.7246C14.1846 24.6087 13.5498 23.5508 12.2803 23.5508C10.848 23.5508 10.1318 24.6331 10.1318 26.7979V47.7451C10.1318 49.0798 10.2946 50.04 10.6201 50.626C10.9456 51.1956 11.4827 51.4805 12.2314 51.4805ZM26.2207 59V16.0312H34.8145V51.6758H43.6523V59H26.2207ZM44.9219 59L49.0723 16.0312H63.6475L67.7246 59H59.5947L58.9844 52.0664H53.8086L53.2715 59H44.9219ZM54.4189 45.2061H58.3252L56.4453 23.3555H56.0547L54.4189 45.2061ZM50.4883 14.7373V9.29297L62.085 3.9707V12.4424L50.4883 14.7373ZM71.2891 64.7373L72.9004 58.9756H69.7998V51.7002H78.9307V58.7559L76.4404 64.7373H71.2891Z"
                fill="white" />
            <path
                d="M60.375 142.625C54.099 142.625 49.5677 141.062 46.7812 137.938C44.0208 134.812 42.6406 129.839 42.6406 123.016V116.297H56.2344V124.891C56.2344 126.479 56.4688 127.729 56.9375 128.641C57.4323 129.526 58.2786 129.969 59.4766 129.969C60.7266 129.969 61.5859 129.604 62.0547 128.875C62.5495 128.146 62.7969 126.948 62.7969 125.281C62.7969 123.172 62.5885 121.414 62.1719 120.008C61.7552 118.576 61.026 117.221 59.9844 115.945C58.9688 114.643 57.5495 113.133 55.7266 111.414L49.5547 105.555C44.9453 101.206 42.6406 96.2318 42.6406 90.6328C42.6406 84.7734 43.9948 80.3073 46.7031 77.2344C49.4375 74.1615 53.3828 72.625 58.5391 72.625C64.8411 72.625 69.3073 74.3047 71.9375 77.6641C74.5938 81.0234 75.9219 86.1276 75.9219 92.9766H61.9375V88.25C61.9375 87.3125 61.6641 86.5833 61.1172 86.0625C60.5964 85.5417 59.8802 85.2812 58.9688 85.2812C57.875 85.2812 57.0677 85.5938 56.5469 86.2188C56.0521 86.8177 55.8047 87.599 55.8047 88.5625C55.8047 89.526 56.0651 90.5677 56.5859 91.6875C57.1068 92.8073 58.1354 94.0964 59.6719 95.5547L67.6016 103.172C69.1901 104.682 70.6484 106.284 71.9766 107.977C73.3047 109.643 74.3724 111.596 75.1797 113.836C75.987 116.049 76.3906 118.758 76.3906 121.961C76.3906 128.419 75.1927 133.484 72.7969 137.156C70.4271 140.802 66.2865 142.625 60.375 142.625ZM81 142V73.25H108.5V86.5312H94.9844V99.9297H107.953V112.859H94.9844V128.602H109.398V142H81ZM129.203 142.625C126.104 142.625 123.279 142.026 120.727 140.828C118.174 139.63 116.143 137.859 114.633 135.516C113.148 133.146 112.406 130.242 112.406 126.805V109.578H126V125.984C126 127.182 126.234 128.146 126.703 128.875C127.198 129.604 127.979 129.969 129.047 129.969C131.104 129.969 132.133 128.706 132.133 126.18V73.25H146V124.812C146 128.458 145.284 131.622 143.852 134.305C142.419 136.961 140.44 139.018 137.914 140.477C135.388 141.909 132.484 142.625 129.203 142.625ZM149.438 142L156.078 73.25H179.398L185.922 142H172.914L171.938 130.906H163.656L162.797 142H149.438ZM164.633 119.93H170.883L167.875 84.9688H167.25L164.633 119.93Z"
                fill="white" />
            <path
                d="M128.809 242V156.062H152.1C158.35 156.062 162.891 157.592 165.723 160.652C168.587 163.68 170.02 168.693 170.02 175.691V179.451C170.02 183.488 169.287 186.759 167.822 189.266C166.39 191.772 164.193 193.416 161.23 194.197C165.104 195.174 167.692 197.469 168.994 201.082C170.329 204.663 170.996 209.041 170.996 214.217C170.996 219.783 170.475 224.65 169.434 228.816C168.392 232.983 166.504 236.222 163.77 238.533C161.035 240.844 157.145 242 152.1 242H128.809ZM145.605 188.436H149.121C150.716 188.436 151.742 187.817 152.197 186.58C152.653 185.343 152.881 183.862 152.881 182.137V173.494C152.881 170.727 151.66 169.344 149.219 169.344H145.605V188.436ZM147.314 226.863C151.774 226.863 154.004 224.747 154.004 220.516V209.773C154.004 207.332 153.63 205.411 152.881 204.012C152.165 202.579 150.798 201.863 148.779 201.863H145.605V226.766C146.322 226.831 146.891 226.863 147.314 226.863ZM176.66 242V156.062H211.035V172.664H194.141V189.412H210.352V205.574H194.141V225.252H212.158V242H176.66ZM217.871 242V156.062H244.043L251.27 208.455L258.447 156.062H284.863V242H269.141V180.086L259.277 242H243.848L233.398 180.086V242H217.871Z"
                fill="white" />
            <path
                d="M205.578 387L189.685 258.021H214.221L223.669 345.765L232.092 258.021H256.628L240.734 387H205.578ZM263 387V258.094H287.902V387H263ZM298.156 387V258.094H324.67L336.535 319.837V258.094H361.438V387H336.242L323.352 322.547V387H298.156ZM372.863 387V258.094H408.312C417.59 258.094 424.572 260.682 429.26 265.857C433.947 270.984 436.291 278.504 436.291 288.416V348.768C436.291 360.975 434.143 370.398 429.846 377.039C425.598 383.68 418.127 387 407.434 387H372.863ZM398.791 364.222H403.259C407.995 364.222 410.363 361.927 410.363 357.337V290.833C410.363 286.536 409.777 283.777 408.605 282.557C407.482 281.287 405.163 280.652 401.647 280.652H398.791V364.222ZM477.6 388.172C467.297 388.172 459.411 385.071 453.942 378.87C448.522 372.62 445.812 363.611 445.812 351.844V290.613C445.812 279.578 448.498 271.204 453.869 265.491C459.289 259.778 467.199 256.922 477.6 256.922C488 256.922 495.886 259.778 501.257 265.491C506.677 271.204 509.387 279.578 509.387 290.613V351.844C509.387 363.611 506.652 372.62 501.184 378.87C495.764 385.071 487.902 388.172 477.6 388.172ZM477.819 364.441C481.726 364.441 483.679 360.657 483.679 353.089V290.174C483.679 283.826 481.774 280.652 477.966 280.652C473.669 280.652 471.521 283.899 471.521 290.394V353.235C471.521 357.239 472.009 360.12 472.985 361.878C473.962 363.587 475.573 364.441 477.819 364.441ZM523.229 351.917L518.103 258.094H544.323L539.196 351.917H523.229ZM518.103 386.927V365.101H544.323V386.927H518.103Z"
                fill="white" />
        </svg>
    </div>

    <div class="login__right">
        <div class="logo">
            @* <img src="/admin/images/logo.png" alt="logo"> *@
        </div>
        <form action="/gerenciador/check" method="post">
            <div class="row">
                <label for="username">
                    <p class="mb-1">E-mail *</p>
                    <input id="username" type="text" name="username" placeholder="Insira seu e-mail" required>
                    <span class="error"></span>
                </label>
            </div>
            <div class="row">
                <label for="password">
                    <p class="mb-1">Senha *</p>
                    <input id="password" type="password" name="password" placeholder="Insira sua senha" required>
                    <span class="error"></span>
                </label>
            </div>
            <div class="forgot-link">
                <a href="">Esqueceu a senha?</a>
            </div>
            <button class="button" type="submit">Entrar</button>
        </form>

        @if (TempData["ErrorMessage"] != null)
        {
            <script>
                alert('@TempData["ErrorMessage"]');
            </script>
        }
    </div>
</div>
