.button {
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    transition: 0.3s all ease;
    margin-left: 10px;
  }
  .button--black {
    background: #000000;
    border: 2px solid #000000;
  }
  .button:hover {
    background: transparent;
    transition: 0.3s all ease;
  }
  .button:hover .text {
    color: #000000 !important;
  }
  .button:hover svg path {
    fill: #000000 !important;
  }
  
  .mb-1 {
    margin-bottom: 1rem !important;
  }
  
  .mb-2 {
    margin-bottom: 2rem !important;
  }
  
  .mb-3 {
    margin-bottom: 3rem !important;
  }
  
  .mb-4 {
    margin-bottom: 4rem !important;
  }
  
  .mb-5 {
    margin-bottom: 5rem !important;
  }

:root {

    --background-gradient-start: rgb(0, 71, 153);
    --background-gradient-mid: rgb(0, 197, 197);
    --background-gradient-end: rgb(0, 49, 139);
    --background-fallback: rgb(185, 185, 185);
    --background-light: #E3E3E3; 
    --background-white: #FFFFFF; 
    --background-black: #000000; 
   
    --text-color-dark: #000000;
    --text-color-light: #FFFFFF;
    --text-color-gray: #666; 
   
    --color-success: green; 
    --color-warning: #cc9d02; 
    --color-danger: #ba0202; 
    --color-purple: #6200EE; 
    --color-light-purple: #ECE0FD;
    
    --spacing-1: 1rem;
    --spacing-2: 2rem; 
    --spacing-3: 3rem;
    --spacing-4: 4rem; 
    --spacing-5: 5rem; 
    --spacing-xs: 0.5rem; 
   
    --border-radius-sm: 0.5rem; 
    --border-radius-md: 1rem; 
    --border-radius-lg: 1.6rem;
    --border-radius-circle: 50%;
    
    --box-shadow-default: 0px 8px 32px rgba(0, 0, 0, 0.16);
}