@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div class="home">
    <div class="home-banner">
        <h1 class="mb-4">Bem vindo ao Acesse+</h1>
        <a href="/gerenciador/example" class="button">Go to Example Manager</a>
    </div>
</div>
